* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.App {
  background: #FFFFFF; }

.header {
  background: #00AFB2;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  .header .user-avatar {
    width: 50px;
    height: 50px; }
  .header .header-buttons {
    display: flex; }
    .header .header-buttons .header-button {
      color: #2F5971;
      background: #00AFB2;
      border: 1px solid #2F5971;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: bold;
      padding: 15px 25px;
      text-decoration: none;
      border-radius: 2px;
      margin-right: 10px; }
      .header .header-buttons .header-button:hover {
        color: #00AFB2;
        background: #2F5971;
        text-decoration: none; }

.forms {
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px; }
  .forms .form-control {
    margin: 15px 0px; }

.container {
  display: flex;
  max-width: 1024px; }
  .container.is-centered {
    justify-content: center;
    align-items: center;
    text-align: center; }
  .container.is-vertical {
    flex-direction: column; }
  .containeris-multiline {
    flex-wrap: wrap; }

.todos {
  flex-wrap: wrap; }
  .todos .todo {
    display: flex;
    flex: none;
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 40px 40px 50px;
    position: relative; }
    .todos .todo .button-close {
      background: none;
      border: none;
      font-size: 20px;
      position: absolute;
      top: 0px;
      right: 10px; }
    .todos .todo .link-invisible {
      color: inherit; }
      .todos .todo .link-invisible:hover {
        text-decoration: none; }
    .todos .todo .todo-title {
      text-align: center; }
      .todos .todo .todo-title h3 {
        color: #2F5971;
        font-weight: lighter; }
      .todos .todo .todo-title .badge {
        position: absolute;
        bottom: 10px;
        right: 10px; }
    .todos .todo .todo-title::after {
      content: "";
      background: #C7C7C7;
      display: block;
      height: 5px;
      width: 35px;
      border-radius: 20px;
      margin: 10px auto; }
    .todos .todo .todo-text {
      text-align: center; }

.plans {
  display: flex;
  max-width: 1024px; }
  @media only screen and (max-width: 680px) {
    .plans {
      flex-direction: column; } }
  @media only screen and (min-width: 680px) and (max-width: 1024px) {
    .plans {
      flex-wrap: wrap; } }

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F9F9F9;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 40px 40px 50px; }
  @media only screen and (min-width: 680px) and (max-width: 1024px) {
    .plan {
      width: 40%;
      flex: none; } }
  .plan.plan-2 {
    align-self: flex-start; }
  .plan h3 {
    color: #00AFB2;
    font-weight: lighter; }
  .plan .plan-title::after {
    content: "";
    background: #C7C7C7;
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 20px;
    margin: 10px auto; }
  .plan .plan-price {
    font-size: 45px;
    color: #4D545D;
    display: flex; }
    .plan .plan-price .dollar-sign {
      font-size: 25px;
      color: #C7C7C7;
      align-self: flex-start; }
  .plan .plan-description {
    text-align: center; }
  .plan .plan-button .button {
    color: #EF6735;
    background: #F9F9F9;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 2px; }
    .plan .plan-button .button:hover {
      color: #F9F9F9;
      background: #EF6735;
      text-decoration: none; }

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .overlay .login-form {
    background: #FFFFFF;
    width: 40%;
    height: 40%;
    padding: 40px;
    flex: none;
    position: relative;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.65); }
    .overlay .login-form .button-close {
      background: none;
      border: none;
      font-size: 25px;
      position: absolute;
      top: 5px;
      right: 10px; }
    .overlay .login-form .form-control {
      margin: 10px 0; }
    .overlay .login-form .btn {
      margin: 10px; }

.noscroll {
  overflow: hidden; }

.todo-standalone {
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 40px 40px 50px;
  position: relative; }
  .todo-standalone .todo-title {
    text-align: center; }
    .todo-standalone .todo-title h3 {
      color: #2F5971;
      font-weight: lighter; }
    .todo-standalone .todo-title .badge {
      position: absolute;
      top: 10px;
      right: 10px; }
  .todo-standalone .todo-title::after {
    content: "";
    background: #C7C7C7;
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 20px;
    margin: 10px auto; }
