@import 'reset.scss';

$primary-color: #FFFFFF;
$plan-background: #F9F9F9;
$plan-heading-color: #00AFB2;
$plan-button-focus-color: #EF6735;

$gray-light: #C7C7C7;
$gray-dark: #4D545D;
$green-blue: #00AFB2;
$dark-blue: #2F5971;

$break-phone: 680px;
$break-tablet: 1024px;

.App {
  background: $primary-color;
}

.header {
  background: $green-blue;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .user-avatar {
    width: 50px;
    height: 50px;
  }
  .header-buttons {
    display: flex;
    .header-button {
      color: $dark-blue;
      background: $green-blue;
      border: 1px solid $dark-blue;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
      font-size: 15px;
      font-weight: bold;
      padding: 15px 25px;
      text-decoration: none;
      border-radius: 2px;
      margin: 0 10px;

      &:hover {
        color: $green-blue;
        background: $dark-blue;
        text-decoration: none;
      }
    }
  }
}

.forms {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
  @media only screen and (max-width: $break-phone) {
    flex-wrap: wrap;
  }
  .form-control {
    margin: 15px 0px;
  }
  .todo-create-form, .todo-search-form {
    @media only screen and (max-width: $break-phone) {
      width: 90%;
      flex: none;
      margin-bottom: 20px;
    }
  }
}

.container {
  display: flex;
  max-width: 1024px;
  &.is-centered {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &.is-vertical {
    flex-direction: column;
  }
  &is-multiline {
    flex-wrap: wrap;
  }
}

.todos {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .todo {
    display: flex;
    flex: none;
    width: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
    margin: 10px;
    padding: 40px 40px 50px;
    position: relative;
    @media only screen and (min-width: $break-phone) and (max-width: $break-tablet) {
      width: 40%;
    }
    @media only screen and (max-width: $break-phone) {
      width: 90%;
    }
    .button-close {
      background: none;
      border: none;
      font-size: 20px;
      position: absolute;
      top: 0px;
      right: 10px;
    }
    .link-invisible {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    .todo-title {
      text-align: center;
      h3 {
        color: $dark-blue;
        font-weight: lighter;
      }
      .badge {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

    }
    .todo-title::after {
      content: "";
      background: $gray-light;
      display: block;
      height: 5px;
      width: 35px;
      border-radius: 20px;
      margin: 10px auto;
    }
    .todo-text {
      text-align: center;
    }

  }
}


.plans {
  display: flex;
  max-width: 1024px;
  @media only screen and (max-width: $break-phone) {
    flex-direction: column;
  }
  @media only screen and (min-width: $break-phone) and (max-width: $break-tablet) {
    flex-wrap: wrap;
  }
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $plan-background;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 40px 40px 50px;
  @media only screen and (min-width: $break-phone) and (max-width: $break-tablet) {
    width: 40%;
    flex: none;
  }
  &.plan-2 {
    align-self: flex-start;
  }
  h3 {
    color: $plan-heading-color;
    font-weight: lighter;
  }
  .plan-title::after {
    content: "";
    background: $gray-light;
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 20px;
    margin: 10px auto;
  }
  .plan-price {
    font-size: 45px;
    color: $gray-dark;
    display: flex;
    .dollar-sign {
      font-size: 25px;
      color: $gray-light;
      align-self: flex-start;
    }
  }
  .plan-description {
    text-align: center;
  }
  .plan-button {

    .button {
      color: $plan-button-focus-color;
      background: $plan-background;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
      font-size: 12px;
      font-weight: bold;
      padding: 15px 25px;
      text-decoration: none;
      border-radius: 2px;

      &:hover  {
        color: $plan-background;
        background: $plan-button-focus-color;
        text-decoration: none;
      }
    }
  }

}

.overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .login-form {
    background: $primary-color;
    padding: 40px;
    flex: none;
    position: relative;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.5), inset 0 1px 0 0 hsla(0,0%,100%,.65);
    width: 500px;
    height: 500px;
    @media only screen and (max-width: $break-phone) {
      width: 90%;
      height: 90%;
    }
    .button-close {
      background: none;
      border: none;
      font-size: 25px;
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .form-control {
      margin: 10px 0;
    }
    .btn {
      margin: 10px;
    }
  }
}

.noscroll {
  overflow: hidden;
}

.todo-standalone {
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  margin: 10px;
  padding: 40px 40px 50px;
  position: relative;
  .todo-title {
    text-align: center;
    h3 {
      color: $dark-blue;
      font-weight: lighter;
    }
  }
  .todo-title::after {
    content: "";
    background: $gray-light;
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 20px;
    margin: 10px auto;
  }
  .todo-button {
    .badge {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}


.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .checkout-button {
    background: $dark-blue;
    color: $primary-color;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  }
  .card-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card-number {
      padding: 10px 15px;
      margin: 10px;
      border: 1px solid $dark-blue;
      min-width: 200px;
      border-radius: 3px;
    }
    .card-bottom-section {
      display: flex;
      justify-content: flex-start;
      .card-expiry {
        padding: 10px 15px;
        margin: 10px;
        border: 1px solid $dark-blue;
        min-width: 100px;
        border-radius: 3px;
      }
      .card-cvc {
        padding: 10px 15px;
        margin: 10px;
        border: 1px solid $dark-blue;
        min-width: 75px;
        border-radius: 3px;
      }
    }
  }
}

.crossed-out {
  text-decoration: line-through;
}

.link {
  margin: 20px;
}

.error {
  color: crimson;
  font-size: 18px;
}

/* *******************************************
*			Todo Create Form styles
********************************************** */

.input-ctr {
  position: relative;
  padding: 15px;
  input, textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 2;
    position: relative;
    // background: transparent;
    padding: 5px;
    margin: 5px;
    &:focus {
      border: 2px solid #369AED;
      outline: none;
    }
    &:focus + label {
      top: 0px;
      font-size: 12px;
    }
  }
  label {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    opacity: 1;
    font-size: 16px;
    color: #2d363f;
    font-weight: normal;
    transition: 0.2s;
  }
}